* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main-index {
  background-color: burlywood;
  text-align: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column; }
  .main-index .card {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px; }
    .main-index .card h2 {
      font-family: sans-serif; }
      .main-index .card h2:hover {
        color: aqua;
        background-color: blueviolet; }

@media (min-width: 550px) {
  .main-index {
    flex-direction: row; }
    .main-index .card h2:hover {
      background-color: azure; } }

header {
  background-color: bisque;
  height: 100px; }
  header li {
    list-style: none;
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    padding-top: 35px;
    color: red;
    text-decoration: underline; }

@media (max-width: 550px) {
  header {
    background-color: #888824; }
    header li {
      padding-top: 30px; } }

footer {
  background-color: aqua;
  min-height: 50vh; }
  footer form {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    footer form input {
      padding: 15px; }
      footer form input:focus {
        background-color: cadetblue; }
        footer form input:focus::placeholder {
          color: white; }

@media (max-width: 550px) {
  footer form {
    flex-direction: column; } }
