footer {
  background-color: aqua;
  min-height: 50vh;
  form {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    input {
      padding: 15px;
      &:focus {
        background-color: cadetblue;
        &::placeholder {
          color: white;
        }
      }
    }
  }
}

@media(max-width:550px){
  footer{
    form{
      flex-direction: column;
    }
  }
}